@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000000;
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    letter-spacing: .6px;

}

@layer components {
    .stripe {
        background-image: linear-gradient(
        45deg,
        rgba(49, 49, 49, 1) 10%,
        transparent 5% 45%, 
        rgba(49, 49, 49, 1) 35% 60%, 
        transparent 55% 95%, 
        rgba(49, 49, 49, 1) 90%
        );
        background-size: 10px 10px;
    }
}