.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0px auto;
    padding-top: 8px;
    padding-bottom: 8px;
}


.search {
    border: 2px solid transparent;
    border-radius: 4px;
    transition: border 0.3s;
}
  
.search.focused {
    border-color: yellow; 
}

.search-label {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 912px) {
    .something {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}